{{ if .Site.Data.recent_events.enable }}
<section id="recent-events" class="container py-5">
    <h2 class="mb-4 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">RECENTLY EVENT</h2>
    <div class="row">
        {{ range $index, $event := .Site.Data.recent_events.events }}
        <div class="col-12 col-md-6 mb-4 wow fadeInUp" data-wow-duration="500ms"
            data-wow-delay="{{ mul $index 300 }}ms">
            <div class="row">
                <!-- Image Section with Hover Effect -->
                <div class="col-4">
                    <figure class="position-relative">
                        <a href="{{ $event.link | absURL }}" class="d-block">
                            <div class="img-wrapper">
                                <img src="{{ $event.image | absURL }}" alt="{{ $event.title }}"
                                    class="img-fluid rounded shadow" style="object-fit: cover; height: auto; width: 100%;">
                            </div>
                        </a>
                    </figure>
                </div>
                <!-- Event Details -->
                <div class="col-8">
                    <h3><a href="{{ $event.link | absURL }}" class="card-link">{{ $event.title }}</a></h3>
                    <!-- Styled Date -->
                    <p class="event-date">
                        <span class="event-day">{{ (index (split $event.date " ") 0) }}</span>
                        <span class="event-month">{{ (index (split $event.date " ") 1) }}</span>
                        <span class="event-year">{{ (index (split $event.date " ") 2) }}</span>
                    </p>
                    <p><strong>Location:</strong> {{ $event.location }}</p>
                    <p>{{ $event.description }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
